<div id="<%= dom_id friend %>">
  <% if request.path == "/friends" %>
    <td><%= link_to friend.first_name, friend %></td>
  <% else %>
    <td><%= friend.first_name%></td>
  <% end %>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.twitter %></td>
  <td><%= friend.user_id %></td>
</div>	