<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col"><strong>First name:</strong></th>
      <th scope="col"><strong>Email:</strong></th>
      <th scope="col"><strong>Phone:</strong></th>
      <th scope="col"><strong>Twitter:</strong></th>
      <th scope="col"><strong>User Id:</strong></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <%= render @friend %>
  </tr>
   </tbody>
</table>
<div>
<!--<label><%= @friend.first_name %></label>--> <!--wyswietlenie elementu z pozycji-->
<p>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-info"%>
  <%= link_to "Back to friends", friends_path, class: "btn btn-info" %>
</p>
  <%= button_to "Delete this friend", @friend, class: "btn btn-danger", method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
</div>
